<script type="text/javascript">

    $(document).ready(function () {

        $("#user_table").DataTable({

            language: {
                url: '/static/json/datatables.i18n.zh-CN.json'
            }


        });
    });
    $("#add_user_btn").on("click", function () {
        $("#modal-create-user").modal("show");
    });

    $(".btn-create-user").on("click", function () {
        var form = $("#add_user_form").serializeArray();
        console.log(form);

        $.post("{{urlfor `UserController.Create`}}", form, function (response) {
            // console.log(response)
            switch (response["code"]) {
                case 200:
                    alert(response["text"]);
                    $("#modal-create").modal("hide");
                    window.location.reload();
                    break;
                case 400:
                    var errors = [];
                    $.each(response["result"], function (index, error) {
                        errors.push(error["Message"]);

                    });
                    if (!errors) {
                        errors.push(respone["text"]);
                    }
                    alert(errors.join("\n"));
                    break;
                default: alert(response["text"]);break;
            }

        }, "json");

    });

    $(".modify-user-btn").on("click", function () {
        var pk = $(this).data("pk");

        $.get("{{ urlfor `UserController.Modify`}}", {id: pk}, function (response) {

            switch (response["code"]) {
                case 200:
                    var input_form = $("#modify_user_form");
                    $.each(response["result"], function (k,v) {
                        if (k == "sex"){
                            if (v){
                                $("#gentleman2").prop("checked", true)
                            }else {
                                $("#lady2").prop("checked", true)
                            }
                        }
                        input_form.find("[name='"+k+"']").val(v);
                        console.log(k,v)
                    });
                    $("#modal-modify-user").modal("show");
                    break;
                default:
                    alert(response["text"]);
                    break;
            }

        });

        $(".save-modify-user").on("click", function () {
            var form = $("#modify_user_form").serializeArray();
            console.log(form);
            $.post("{{urlfor `UserController.Modify`}}", form, function (response) {
                // console.log(response)
                switch (response["code"]) {
                    case 200:
                        alert(response["text"]);
                        $("#modal-modify-user").modal("hide");
                        window.location.reload();
                        break;
                    case 400:
                        var errors = [];
                        $.each(response["result"], function (index, error) {
                            errors.push(error["Message"]);

                        });
                        if (!errors) {
                            errors.push(respone["text"]);
                        }
                        alert(errors.join("\n"));
                        break;
                    default: alert(response["text"]);break;
                }

            }, "json");


        })

    });

    // 删除
    $(".del-user-btn").on("click", function () {

        var pk = $(this).data("pk");
        var xsrf_passwd = $("#xsrf_passwd").val();
        // $("#modal-del").modal("show");

        if (confirm("确认删除？")==true){
        $.post("{{ urlfor `UserController.Delete` }}", {id:pk, _xsrf:xsrf_passwd}, function (response) {
            switch (response["code"]) {
                case 200:
                    alert(response["text"]);
                    window.location.reload();
                    break;
                default:
                    alert(response["text"]);
                    break;
            }

        })
        }else {
            alert("放弃删除")
        }


    });

    // 重置密码
    $(".reset-passwd-btn").on("click", function () {

        var pk = $(this).data("pk");
        var xsrf_del = $("#xsrf_del").val();

        if (confirm("确认重置？")==true){
            $.post("{{ urlfor `UserController.ResetPassword` }}", {id:pk, _xsrf:xsrf_del}, function (response) {
                switch (response["code"]) {
                    case 200:
                        alert("重置密码成功！\n新密码: " + response["result"]+"\n");
                        window.location.reload();
                        break;
                    default:
                        alert(response["text"]);
                        break;
                }

            })
        }else {
            alert("放弃重置")
        }

    });

    // 修改密码
    $("#modify-passwd-btn").on("click", function () {
        var id = $(this).data("pk");
        var xsrf_modify_passwd = $("#xsrf_modify_passwd").val();
        var form = $("#modify-passwd-form").serializeArray();

        $("#modal-modify-passwd").modal("show");

        $.post("{{ urlfor `UserController.Password` }}", {id:id}, {_xsrf:xsrf_modify_passwd}, function (response) {

            switch (response["code"]) {
                case 200:
                    alert(response["text"]);
                    $("#modal-modify-passwd").modal("hide");

                    window.location.reload();
                    break;
                default:
                    alert(response["text"]);
                    break;
            }



    });


    })
</script>