<script type="text/javascript">

    $(document).ready(function () {

        $("#user_table").DataTable({

            language: {
                url: '/static/json/datatables.i18n.zh-CN.json'
            }


        });
    });
    $("#add_user_btn").on("click", function () {
        $("#modal-create-user").modal("show");
    });

    $(".btn-create-user").on("click", function () {
        var form = $("#add_user_form").serializeArray();
        console.log(form);

        $.post("{{urlfor `UserController.Create`}}", form, function (response) {
            // console.log(response)
            switch (response["code"]) {
                case 200:
                    alert(response["text"]);
                    $("#modal-create").modal("hide");
                    window.location.reload();
                    break;
                case 400:
                    var errors = [];
                    $.each(response["result"], function (index, error) {
                        errors.push(error["Message"]);

                    });
                    if (!errors) {
                        errors.push(respone["text"]);
                    }
                    alert(errors.join("\n"));
                    break;
                default: alert(response["text"]);break;
            }

        }, "json");

    });

    $(".modify-user-btn").on("click", function () {
        var pk = $(this).data("pk");
        // console.log(pk);
        $.get("{{ urlfor `UserController.Modify`}}", {id:pk}, function (response) {

            switch (response["code"]) {
                case 200:
                    var input_form = $("#modify_user_form");
                    $.each(response["result"], function (k,v) {
                        input_form.find("[name='"+k+"']").val(v);
                        // console.log(k,v)
                    });
                    $("#modal-modify").modal("show");
                    break;
                default:
                    alert(response["text"]);
                    break;
            }

        });
        $(".save-btn-modify").on("click", function () {
            var form = $("#modify_user_form").serializeArray();
            console.log(form);
            $.post("{{urlfor `UserController.Modify`}}", form, function (response) {
                // console.log(response)
                switch (response["code"]) {
                    case 200:
                        alert(response["text"]);
                        $("#modal-modify").modal("hide");
                        window.location.reload();
                        break;
                    case 400:
                        var errors = [];
                        $.each(response["result"], function (index, error) {
                            errors.push(error["Message"]);

                        });
                        if (!errors) {
                            errors.push(respone["text"]);
                        }
                        alert(errors.join("\n"));
                        break;
                    default: alert(response["text"]);break;
                }

            }, "json");


        })

    });

    // 删除

    $(".del-user-btn").on("click", function () {

        var pk = $(this).data("pk");
        var xsrf_del = $("#xsrf_del").val();
        $("#modal-del").modal("show");

        if (confirm("确认删除？")==true){
        $.post("{{ urlfor `UserController.Delete` }}", {id:pk, _xsrf:xsrf_del}, function (response) {
            switch (response["code"]) {
                case 200:
                    // alert(response["text"]);
                    window.location.reload();
                    break;
                default:
                    alert(response["text"]);
                    break;
            }

        })
        }else {
            alert("放弃删除")
        }


    })


</script>