<div class="row">
    <div class="col-4 offset-4">
        <form action="{{ urlfor `UserController.Password` }}" method="POST">
            <input type="hidden" name="_xsrf" value="{{ .xsrf_token }}" />
            <div class="form-group row">
                <label class="col-form-label col-3">旧密码:</label>
                <div class="col-9">
                    <input type="password" class="form-control" name="oldPassword" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-3">新密码:</label>
                <div class="col-9">
                    <input type="password" class="form-control" name="newPassword" />
                </div>

            </div>
            <div class="form-group row">
                <label class="col-form-label col-3">再次输入密码:</label>
                <div class="col-9">
                    <input type="password" class="form-control" name="passwordVerify" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary float-right" name="修改" />
                </div>
            </div>
        </form>
    </div>
</div>