<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登陆</title>
    </head>
    <body>
        <form action="/user/login/" method="POST">
            {{ if ne .Error "" }}
            <div>
                <span style="color:red;">{{ .Error }}</span>
            </div>
            {{ end }}
            <div>
                <label>用户名:</label>
                <input type="text" name="name" value="{{ .Name }}"/>
            </div>
            <div>
                <label>密码:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" name="登陆" />
            </div>
        </form>
    </body>
</html>