<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建用户</title>
</head>
<body>
<a href="/">返回</a>
<form action="/user/createUser/" method="post">
    <div>
        用户名:<label for="username"></label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        密&nbsp;&nbsp;&nbsp;码:<label for="password"></label>
        <input type="text" id="password" name="password">
    </div>
    <div>
        生&nbsp;&nbsp;&nbsp;日:<label for="birthday"></label>
        <input type="date" id="birthday" name="birthday">
    </div>
    <div>
        地&nbsp;&nbsp;&nbsp;址:<label for="addr"></label>
        <input type="text" id="addr" name="addr">
    </div>
    <div>
        描&nbsp;&nbsp;&nbsp;述:<label for="desc"></label>
        <input type="desc" id="desc" name="desc">
    </div>
    <div>
        <input type="submit" name="新建">
    </div>
</form>
</body>
</html>