<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
</head>
<body>
    <div>
        <a href="/user/listUser/">用户列表</a>
    </div>
    <form action="/user/userTaskList/" method="post">
        <div>
            用户名:<label for="username"></label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            密&nbsp;&nbsp;&nbsp;码:<label for="password"></label>
            <input type="text" id="password" name="password">
        </div>
        <div>
            <input type="submit" name="登陆">
        </div>
    </form>
</body>
</html>