<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ block "title" . }} Todolist {{ end }}</title>
        {{ assets_css "/static/plugins/bootstrap-4.3.1/css/bootstrap.min.css" }}
        {{ assets_css "/static/plugins/DataTables-1.10.15/media/css/dataTables.bootstrap4.min.css" }}
        {{ assets_css "/static/plugins/sweetalert-1.1.3/dist/sweetalert.css" }}
        {{ .LayoutStyles }}
    </head>
    <body>
        {{ template "layout/nav.html" . }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    {{ if .flash.success }}
                    <div class="alert alert-success" role="alert">
                        {{ .flash.success }}
                    </div>
                    {{ end }}
                    {{ if .flash.warning }}
                    <div class="alert alert-warning" role="alert">
                        {{ .flash.warning }}
                    </div>
                    {{ end }}
                    {{ if .flash.error }}
                    <div class="alert alert-error" role="alert">
                        {{ .flash.error }}
                    </div>
                    {{ end }}
                    {{ .LayoutContent }}
                </div>
            </div>
        </div>
        {{ assets_js "/static/plugins/jquery-3.4.1.min.js" }}
        {{ assets_js "/static/plugins/popper.js-1.16.0/dist/umd/popper.min.js" }}
        {{ assets_js "/static/plugins/bootstrap-4.3.1/js/bootstrap.min.js" }}
        {{ assets_js "/static/plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js" }}
        {{ assets_js "/static/plugins/DataTables-1.10.15/media/js/dataTables.bootstrap4.js" }}
        {{ assets_js "/static/plugins/bootstrap-notify-3.1.3/dist/bootstrap-notify.min.js" }}
        {{ assets_js "/static/plugins/sweetalert-1.1.3/dist/sweetalert.min.js" }}
        {{ assets_js "/static/plugins/jquery.cookie-1.4.1.min.js" }}
        {{ assets_js "/static/plugins/jquery.base64.js" }}
        {{ assets_js "/static/js/utils.js" }}
        {{ .LayoutScripts }}
    </body>
</html>