<div class="row">
    <div class="col-4">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>在线终端数量</h4>
                <p><b><span id="online">0</span></b></p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="widget-small danger coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>离线终端数量</h4>
                <p><b><span id="offline">0</span></b></p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>未处理完成告警数量</h4>
                <p><b><span id="alarmCount">0</span></b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">未处理完成告警分布</h3>
            <div id="alarmDist" style="width:100%; height: 500px;"></div>
    </div>
    </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">告警趋势</h3>
                <div id="alarmTrend" style="width:100%; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>