<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户修改</title>
    </head>
    <body>
        <form action="/user/modify/" method="POST">
            <input type="hidden" name="id" value="{{ .ID }}">
            <div>
                <label>名字:</label>
                <span>{{ .Name }}</span>
            </div>
            <div>
                <label>性别:</label>
                {{ if .Sex }} 
                    <input id="true" name="sex" type="radio" value=true checked="checked" /><label for="true"> 男 </label>
                    <input id="false" name="sex" type="radio" value=false /><label for="false"> 女 </label>
                {{ else }}
                    <input id="true" name="sex" type="radio" value=true /><label for="true"> 男 </label>
                    <input id="false" name="sex" type="radio" value=false checked="checked" /><label for="false"> 女 </label>
                {{ end }}
            </div>
            <div>
                <label>生日:</label>
                <input type="date" name="birthday" value="{{ .Birthday }}"/>
            </div>
            <div>
                <label>电话:</label>
                <input type="text" name="tel" value="{{ .Tel }}" />
            </div>
            <div>
                <label style="color: brown; font-size:15px;">地址:</label>
                <select name="addr">
                    <option value="{{ .Addr }}">{{ .Addr }}</option>
                    <option value="河南">河南</option>
                    <option value="上海">上海</option>
                    <option value="北京">北京</option>
                    <option value="湖北">湖北</option>
                </select>
            </div>
            <div>
                <label>描述:</label>
                <input type="text" name="desc" value="{{ .Desc }}" />
            </div>
            <div>
                <input type="submit" name="添加" />
            </div>
        </form>
    </body>
</html>