<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>终端名称</th>
                            <th>UUID</th>
                            <th>load1</th>
                            <th>load5</th>
                            <th>load15</th>
                            <th>CPU利用率</th>
                            <th>内存利用率</th>
                            <th>磁盘利用率</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>