{{ define "title" }}修改{{ . }}的密码{{ end }}
{{ define "vac_password" }} text-white {{ end }}
{{ define "context" }}
    <div class="row m-3">
        <form action="/users/password/" method="POST">
            <input type="hidden" name="username" value="{{ . }}">

            <div class="form-group row">
                <label class="col-form-label col-6">请输入{{ . }}的新密码:</label>
                <div class="col-6">
                    <input class="form-control" type="password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <input class="btn btn-primary float-right" type="submit" value="修改">
                </div>
            </div>
        </form>
    </div>
{{end}}