<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户查询</title>
    </head>
    <body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1566486141482&di=8d1b235d32f7a43166e66413ad35e6fc&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F03839555742a6c932f875b70fb894f0.jpg">
        <a href="/user/query/">返回上一级</a>
        <a href="/user/operation/">返回主菜单</a>
        <table style="color: brown; font-size:15px;">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>名字</th>>
                    <th>生日</th>
                    <th>电话</th>
                    <th>地址</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ .ID }}</td>>
                    <td>{{ .Name }}</td>
                    <td>{{ .Birthday }}</td>
                    <td>{{ .Tel }}</td>
                    <td>{{ .Addr }}</td>
                    <td>{{ .Desc }}</td>
                </tr>   
            </tbody>
        </table>
    </body>
</html>