<script type="text/javascript">
    jQuery(document).ready(function () {
        var table = jQuery("#agent_page_table").DataTable({
            dom:'<"row" <"col-1"><"col-2" f><"col-7"><"col-2" l>>t<"row" <"col-6" i><"col-6" p>>',
            serverSide: true,
            ajax: {
                url: "{{ urlfor `AgentController.List`}}",
                data: function (data) {
                    return {
                        draw: data.draw,
                        start: data.start,
                        length: data.length,
                        q: data.search.value,
                        platform: jQuery("select.query").val()
                    };
                },
                dataSrc: "result"
            },
            columns:[
                {data:function (row) {
                        return htmlEncode(row['host_name']);
                    },
                    name:"host_name"},
                {data:function (row) {
                    var mip = "";
                    jQuery.each(JSON.parse(row['ip']), function(index, value){
                            mip = mip + '\n' + value;
                        });
                        return htmlEncode(mip);
                    },
                    name:"ip"},
                {data:function (row) {
                        return htmlEncode(row['cpu'] + 'C' + '/' + row['ram'] / 1024 / 1024 / 1024 + 'GB');
                    },
                    name:"cpu/ram"},
                {data:function (row) {
                        return htmlEncode(row['disk']);
                    },
                    name:"disk"},
                {data:function (row) {
                        return htmlEncode(row['os']);
                    },
                    name:"os"},
                {data:function (row) {
                        return htmlEncode(row['is_online']);
                    },
                    name:"is_online"},
                {data:function (row) {
                        return htmlEncode(row['uuid']);
                    },
                    name:"uuid"},
                {data:function(row){
                        var buttons = ['<div class="btn-group" role="group" aria-label="First group">'];
                        buttons.push('<button type="button" class="btn btn-sm btn-warning btn-open-dialog" data-title="编辑" data-url="{{ urlfor `AgentController.Modify`}}?id=:pk:" data-callback="reload_table">编辑</button>');
                        buttons.push('<button type="button" class="btn btn-sm btn-danger btn-control" data-title="确认删除吗?" data-url="{{ urlfor `AgentController.Delete`}}" data-pk=":pk:" data-callback="reload_table">删除</button>');
                        buttons.push('</div>');
                        return buttons.join("").replace(/:pk:/g,row['id']);
                    },
                    orderable: false,
                    name:"active"}
            ]
        });

        table.on("draw",function () {
            if(!jQuery("#buttons").attr("initd")){
                jQuery("#buttons").attr("initd", "initd");
            }
        });


        window["reload_table"] = function(response){
            swal.close();
            table.ajax.reload(null,false);
        };

        jQuery(document).on("change","select.query",function(){
            table.ajax.reload();
        });

        setInterval(window["reload_table"], 10 * 1000 );

    })
</script>