<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify User</title>
</head>
<body>
<div>

    <h5>修改用户</h5>
    <form method="post" action="/users/modify/">
        <input type="hidden" name="id" value="{{ .ID }}">
        <input type="hidden" name="passwd" value="{{ .Password }}">


        <div>
            <label for="username">名称:</label>
            <input type="text" name="username" value="{{ .Name }}">

        </div>
        <div>
            <label for="sex">性别:</label>
            <input id="sex_1" type="radio" name="sex" values="1" {{ if eq .Sex 1 }} checked="checked" {{ end }} ><label for="sex_1">男</label>
            <input id="sex_2" type="radio" name="sex" value="2" {{ if eq .Sex 2 }} checked="checked" {{ end }} ><label for="sex_2">女</label>

        </div>

        <div>
            <label for="brithday">生日:</label>
            <input type="date" name="brithday" value="{{ .Brithday }}">

        </div>

        <div>
            <label for="tel">电话:</label>
            <input type="text" name="tel" value="{{ .Tel }}">



        </div>
        <div>
            <label for="addr">地址:</label>
            <input type="text" name="addr" value="{{ .Addr }}">


        </div>
        <div>
            <label for="desc">描述:</label>
            <input type="text" name="desc" value="{{ .Descs }}">
        </div>
        <div>

            <input type="submit" value="修改">
        </div>
    </form>
</div>

</body>
</html>