<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Pass</title>
</head>
<body>
    <h5>修改用户: {{ .Name }} 密码</h5>
    <form action="/users/modifypass/" method="post">
        <input type="hidden" name="id" value="{{ .ID }}">
        <input type="hidden" name="username" value="{{ .Name }}">
        <div>
            <label for="">原密码：</label>
            <input type="password" name="oldpass" id="oldpass" required="">
        </div>
        <div>
            <label for="">新密码：</label>
            <input type="password" name="newpass" id="newpass" required="">
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>

</body>
</html>