{{ define  "nav_users" }}active{{ end }}
{{ define "content" }}
<form class="form-inline" action="/users/" method="get" >
    <div class="form-group">
        <input type="text" name="query" value="{{ .Query }}">
    </div>
    <div class="form-group">
        <input type="submit" value="查询">
        <a href="/users/create/" class="btn btn-info btn-sm">添加用户</a>
    </div>
</form>
<div class="mt-3">
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>姓名</th>
        <th>生日</th>
        <th>联系方式</th>
        <th>联系地址</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Users }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Birthday }}</td>
            <td>{{ .Tel }}</td>
            <td>{{ .Addr }}</td>
            <td>{{ .Desc }}</td>
            <td>
                <a href="/users/modify/?id={{ .ID }}" class="btn btn-info">编辑</a>
                <a href="/users/delete/?id={{ .ID }}" class="btn btn-danger">删除</a>
            </td>
        </tr>
    {{ else }}
        <tr>
            <td colspan="6">无数据</td>
        </tr>
    {{ end }}
    </tbody>
</table>
</div>
{{ end }}