<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户修改</title>
</head>

<body>
<div>
    <span><a href="/tasks/">任务列表</a></span>

    <span><a href="/users/">用户列表</a></span>

    <span><a href="/users/password">修改个人密码</a></span>
</div>

<form action="/users/modify/" method="POST">
    <input type="hidden" name="id" value="{{ .Id }}">
    <div>
        <lable>用户名</lable>
        <input type="text" name="name" value="{{ .Name }}">
    </div>
    <div>
        <lable>出生年月</lable>
        <input type="text" name="birthday" value="{{ .Birthday }}">
    </div>

    <div>
        <lable>联系电话</lable>
        <input type="text" name="tel" value="{{ .Tel }}">
    </div>
    <div>
        <lable>联系地址</lable>
        <input type="text" name="addr" value="{{ .Addr }}">
    </div>
    <div>
        <lable>描述</lable>
        <input type="text" name="desc" value="{{ .Desc }}">
    </div>
    <div>
        <input type="submit" name="修改">
    </div>

</form>
</body>
</html>