<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>主机名</th>
                                <th>UUID</th>
                                <th>负载(1/5/15分钟)</th>
                                <th>CPU</th>
                                <th>RAM</th>
                                <th>DISK</th>
                                <th>创建时间</th>
                                <th>启动时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>