<script type="text/javascript">

    jQuery(document).ready(function () {
        // table style
        var table = jQuery("#table").DataTable({
            dom: '<"row"<"col-6" l><"col-5" f><"#buttons.col-1">>t<"row"<"col-6"i><"col-6"p>>',
            serverSide: true,
            ajax: {
                url: "{{ urlfor `VirtualMachineController.List` }}",
                data: function (data) {
                    return {
                        draw: data.draw,
                        start: data.start,
                        length: data.length,
                        q: data.search.value
                    };
                },
                dataSrc: "result"
            },
            columns: [
                {
                    data: function (row) {
                        return htmlEncode(row["name"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["platform"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["os"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["cpu"] + "/" + row["mem"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["public_addrs"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["private_addrs"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["status"]);
                    }
                },
                {
                    data: function (row) {
                        return htmlEncode(row["created_time"] + "/" + row["deleted_time"]);
                    }
                },
                {
                    data: function (row) {
                        var buttons = ['<div class="btn-group" role="group">'];

                        buttons.push('<button class="btn btn-sm btn-secondary btn-control fa fa-lock" data-title="确定关机？" data-url="{{ urlfor `VirtualMachineController.Stop`}}" data-pk=":pk:" data-callback="reload_table">关机</button>');
                        buttons.push('<button class="btn btn-sm btn-success btn-control fa fa-unlock-alt" data-title="确定开机？" data-url="{{ urlfor `VirtualMachineController.Start`}}" data-pk=":pk:" data-callback="reload_table">开机</button>');
                        buttons.push('<button class="btn btn-sm btn-danger btn-control fa fa-exclamation-triangle" data-title="确定重启？" data-url="{{ urlfor `VirtualMachineController.Restart`}}" data-pk=":pk:" data-callback="reload_table">重启</button>');

                        return buttons.join("").replace(/:pk:/g, row["id"])
                    }
                },
            ]
        });


        // draw button
        table.on("draw", function () {
            if (!jQuery("#buttons").attr("initd")) {
                jQuery("#buttons").attr("initd", "initd");
            }
        });


        // 回调函数
        window["reload_table"] = function (response) {
            table.ajax.reload(null, false)
        };

        // setInterval(window["reload_table"], 10000);
    });
</script>