<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>主机(名称/IP)</th>
                                <th>CPU使用率</th>
                                <th>内存使用率</th>
                                <th>磁盘使用率</th>
                                <th>负载</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>