{{ define "title" }}创建用户{{ end }}

{{ define "body" }}
<div>
    <a href="/users/create/">添加</a>
    <form action="/users/" method="GET">
        <label>查询:</label>
        <input type="text" value="{{ .Query }}" name="q" />
        <input type="submit" value="查询"/>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>姓名</th>
            <th>生日</th>
            <th>联系方式</th>
            <th>联系地址</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Users }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Birthday }}</td>
            <td>{{ .Tel }}</td>
            <td>{{ .Addr }}</td>
            <td>{{ .Desc}}</td>
            <td>
                <a href="/users/modify/?id={{ .Id }}">编辑</a>
                <a href="/users/delete/?id={{ .Id }}">删除</a>
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="6">无数据</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}