<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ config "String" "appname" "cmdb" }}</title>

    <link rel="stylesheet" type="text/css">
    {{ assets_css "/static/css/main.css" }}
    {{ assets_css "/static/plugins/Font-Awesome-4.7.0/css/font-awesome.min.css" }}
    {{ .LayoutStyle }}
    <style type="text/css">
        div .dialog-content {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>

</head>
<body class="app sidebar-mini">
<!-- Navbar-->
<header class="app-header">
    <a class="app-header__logo" href="index.html">{{ config "String" "appname" "cmdb" }}</a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>

    <ul class="app-nav">
        <li class="app-search">
            当前用户: {{ .user.Name }}
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
            <ul class="app-notification dropdown-menu dropdown-menu-right">
                {{ template "layouts/notification.html" . }}
            </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> 密码修改</a></li>
                <li><a class="dropdown-item" href="{ urlfor `AuthController.Logout` }"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">

    <ul class="app-menu">
        {{ template "layouts/menu.html" .}}
    </ul>
</aside>
<main class="app-content">
    {{ .LayoutContent }}
</main>
{{ template "layouts/dialog.html" . }}



{{ assets_js "/static/js/jquery-3.3.1.min.js" }}
{{ assets_js "/static/js/popper.min.js" }}
{{ assets_js "/static/js/bootstrap.min.js" }}
{{ assets_js "/static/js/main.js" }}
{{ assets_js "/static/js/plugins/pace.min.js" }}
{{ assets_js "/static/js/plugins/jquery.dataTables.min.js"}}
{{ assets_js "/static/js/plugins/dataTables.bootstrap.min.js"}}
{{ assets_js "/static/plugins/jquery.cookie-1.4.1.min.js" }}
{{ assets_js "/static/plugins/jquery.base64.js" }}

{{ assets_js "/static/js/utils.js" }}
{{ assets_js "/static/plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js" }}
{{ assets_js "/static/plugins/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js" }}
{{/*<script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>*/}}
{{/*<script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>*/}}

<script type="text/javascript">
    $(document).ready(function () {
        $.extend(jQuery.fn.dataTable.defaults,{

            language: {
                url: '/static/json/datatables.i18n.zh-CN.json'
            },
            ordering: false,
            });
        $(document).on("focus", "input[datepicker]", function () {
            if($(this).attr("initd")){
                return;
            }
            $(this).attr("initd", "initd").datepicker({language:"zh-cn"})
        })
    })

</script>

{{ .LayoutScript }}

{{ template "layouts/dialog_script.html" . }}
{{ template "layouts/control_script.html" . }}


</body>
</html>