<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reginster User</title>
</head>
<body>
<div>
    <h5> 注册用户：</h5>
    <form method="post" action="/users/register/">
        <div>
            <label for="username">姓名:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="brithday">生日:</label>
            <input type="date" name="brithday">
        </div>
        <div>
            <label for="tel">电话:</label>
            <input type="text" name="tel">
        </div>
        <div>
            <label for="addr">地址:</label>
            <input type="text" name="addr">
        </div>
        <div>
            <label for="desc">描述:</label>
            <input type="text" name="desc">
        </div>
        <div>
            <label for="passwd">密码:</label>
            <input type="password" name="passwd">
        </div>
        <div>

            <input type="submit" value="提交">
        </div>
    </form>
</div>

</body>
</html>