<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
</head>
<body>
<div>
    <span><a href="/users/">用户管理</a></span>
    <span><a href="/tasks/">任务管理</a></span>
    <span><a href="/users/logout/">退出登陆</a></span>
</div>
<div>
    <a href="/tasks/create/"> 添加任务 </a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>任务名称</th>
        <th>任务进度</th>
        <th>负责人</th>
        <th>描述</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Progress }}</td>
            <td>{{ .User }}</td>
            <td>{{ .Desc }}</td>
            <td>{{ statusType .Status }}</td>
            <td>{{ .Create_time }}</td>
            <td>
                <a href="/tasks/modify/?id={{ .ID }}">编辑</a>
                <a href="/tasks/delete/?id={{ .ID }}">删除</a>
            </td>
        </tr>
    {{ else }}
        <tr>
            <td colspan="7">无数据</td>
        </tr>
    {{ end }}
    </tbody>
</table>
</body>
</html>