<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>主机名</th>
                                <th>云平台</th>
                                <th>操作系统</th>
                                <th>配置(CPU/内存)</th>
                                <th>公网IP</th>
                                <th>内网IP</th>
                                <th>时间(创建~过期)</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>