<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>UUID</th>
                                <th>故障类型</th>
                                <th>故障详情</th>
                                <th>故障说明</th>
                                <th>告警方式</th>
                                <th>告警时间</th>
                                <th>告警状态</th>
                                <th>处理时间</th>
                                <th>操作</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

