<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改{{ . }}的密码</title>
</head>
<body>
<div>
    <span><a href="/tasks/">任务列表</a></span>

    <span><a href="/users/">用户列表</a></span>

    <span><a href="/users/password">修改密码</a></span>
    <span><a href="/logout/">退出登录</a></span>
</div>

<form action="/users/password/" method="POST">
    <input type="hidden" name="username" value="{{ . }}">
    <div>
        <label>请输入{{ . }}的新密码</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>请再次输入{{ . }}的新密码</label>
        <input type="password" name="password2">
    </div>
    <div>
        <input type="submit" name="确认">
    </div>

</form>
</body>
</html>