<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户列表</title>
    </head>
    <body>
        <div>
            <a href="/user/create/">添加用户</a>
            <a href="/user/manager/">返回主菜单</a>
        </div>

        <form action="/user/" method="GET">
            <div>
                <label>查询</label>
                <input type="text" name="query" value="{{ .Query }}">
                <input type="submit" value="查询">
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th>名字</th>
                    <th>生日</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Users }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Birthday }}</td>
                    <td>{{ .Addr }}</td>
                    <td>{{ .Tel }}</td>
                    <td>{{ .Desc }}</td>
                    <td>
                        <a href="/user/modify/?id={{ .ID }}">修改</a>
                        <a href="/user/delete/?id={{ .ID }}">删除</a>
                    </td>
                </tr>
                {{ else }}
                <tr>
                    <td colspan="6"> 无数据 </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

    </body>
</html>