<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改{{ . }}的密码</title>
</head>
<body>
<div>
    <span><a href="/tasks/">任务列表</a></span>

    <span><a href="/users/">用户列表</a></span>

    <span><a href="/users/password">修改个人密码</a></span>
</div>

<form action="/users/password/" method="POST">
    <input type="hidden" name="username" value="{{ . }}">
    <div>
        <label>请输入{{ . }}的新密码</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" name="修改">
    </div>

</form>
</body>
</html>