<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>
    <span><a href="/tasks/">任务列表</a></span>

    <span><a href="/users/">用户列表</a></span>

    <span><a href="/users/password">修改个人密码</a></span>
</div>


<a href="/users/create/">添加</a>
<table border="1" bgcolor="#ff7f50">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>出生日期</th>
        <th>联系电话</th>
        <th>联系地址</th>
        <th>描述</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr>
            <td>{{ .Id }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Birthday }}</td>
            <td>{{ .Tel }}</td>
            <td>{{ .Addr }}</td>
            <td>{{ .Desc }}</td>

            <td>
                <a href="/users/modify/?id={{ .Id }}">修改</a>
                <a href="/users/delete/?id={{ .Id }}">删除</a>
            </td>
        </tr>
    {{ else}}
        <tr>
            <td colspan="7">无用户</td>
        </tr>
    {{ end }}
    </tbody>
</table>
</body>
</html>